* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .container{
//     max-width: 1350px;
// }
body {
}

.unactiveProd {
    display: none !important;
}

.activeFilter {
    color: red !important;
}

.customAnimate {
    transform: rotateZ(90deg);
}

header {
    nav {
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: white;

        .nav-left {
            a {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .nav-right {
            display: flex;
            justify-content: end;
            .nav-links {
                ul {
                    display: flex;
                    list-style: none;

                    li {
                        width: 200px;
                        a {
                            span {
                                font-size: 12px;
                            }
                        }
                        &:hover {
                            .home {
                                visibility: visible;
                                height: 50%;
                            }
                            .pages {
                                visibility: visible;
                                height: 25%;
                            }
                            .portfolio {
                                visibility: visible;
                                height: 40%;
                            }
                            .blog {
                                visibility: visible;
                                height: 30%;
                            }
                            .elements {
                                visibility: visible;
                                height: 30%;
                            }
                            .shopcards {
                                visibility: visible;
                                height: 89vh;
                            }
                            .portfoliolayouts {
                                visibility: visible;
                                height: 20%;
                            }
                        }

                        .elements {
                            .typographyli:hover {
                                .typography {
                                    opacity: 100%;
                                }
                            }
                            .classicli:hover {
                                .classic {
                                    opacity: 100%;
                                }
                            }
                            .infographicli:hover {
                                .infographic {
                                    opacity: 100%;
                                }
                            }
                            .interactiveli:hover {
                                .interactive {
                                    opacity: 100%;
                                }
                            }
                            li {
                                margin-bottom: 25px;
                                ul {
                                    display: block;
                                    background-color: white;
                                    position: absolute;
                                    right: 170px;
                                    padding-left: 0%;
                                }
                                .classic {
                                    top: 60px;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                    opacity: 0;
                                }
                                .infographic {
                                    top: 70px;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                    opacity: 0;
                                }
                                .interactive {
                                    top: 80px;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                    opacity: 0;
                                }
                                .typography {
                                    top: 90px;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                    opacity: 0;
                                }
                            }
                        }

                        .elements {
                            i {
                                margin-right: 40px;
                            }
                        }

                        .portfolio {
                            #prtflsingle:hover {
                                .portfoliosingle {
                                    visibility: visible;
                                    height: 80%;
                                }
                            }
                            #prtflayout:hover {
                                .portfoliolayouts {
                                    visibility: visible;
                                    height: 80%;
                                }
                            }
                        }
                        margin-left: 30px;
                        .home,
                        .pages,
                        .portfolio,
                        .blog,
                        .elements {
                            position: relative;
                            z-index: 50;
                            transition: 0.2s;
                            width: 200px;
                            background-color: white;
                            position: absolute;
                            padding-top: 40px;
                            padding-left: 0px;
                            li {
                                margin-bottom: 25px;
                            }
                            top: 95px;

                            display: block;
                            visibility: hidden;
                            height: 0%;

                            transition: 0.3s;

                            .portfoliolayouts {
                                display: block;
                                background-color: white;
                                position: absolute;
                                top: 120px;
                                left: 200px;
                                padding-left: 0;
                                visibility: hidden;
                                height: 0%;
                            }
                            .portfoliosingle {
                                display: block;
                                visibility: hidden;
                                height: 0%;
                                background-color: white;
                                position: absolute;
                                top: 140px;
                                left: 200px;
                                padding-left: 0;
                            }
                        }
                        .home {
                            width: 220px;
                        }
                        .blog {
                            padding-left: 30px;
                            .post {
                                &:hover {
                                    .bloginlinks {
                                        opacity: 100%;
                                    }
                                }
                                .bloginlinks {
                                    display: block;
                                    position: absolute;
                                    left: 200px;
                                    top: 104px;
                                    background-color: white;
                                    padding-left: 0%;
                                    padding-right: 0%;
                                    opacity: 0;
                                }
                            }
                        }

                        .shopcards {
                            position: relative;
                            z-index: 50;
                            display: flex;
                            ul {
                                display: block;
                                padding-left: 30px;
                                padding-right: 30px;
                                li {
                                    margin-bottom: 25px;
                                }
                            }
                            left: 0;
                            width: max-content;
                            transition: 0.3s;

                            background-color: white;
                            position: absolute;
                            padding-top: 50px;
                            padding-bottom: 25px;

                            top: 95px;

                            left: 50%;
                            transform: translate(-50%, 0%);

                            visibility: hidden;
                            height: 0%;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    span {
                        letter-spacing: 2px;
                        font-size: 13px;
                        color: #1b1b1b;
                        // font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
    .search-shopping {
        align-items: center;
        justify-content: end;
        display: flex;
        .search-icon {
            margin-right: 50px;
            i {
                font-size: 20px;
            }
        }
        .shopping {
            display: flex;
            .shop-icon {
                position: relative;
                display: flex;
                .bag-count {
                    width: 14px;
                    height: 14px;
                    background-color: rgb(252, 102, 102);
                    position: absolute;
                    left: 10px;
                    border-radius: 50%;
                    bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        margin: 0;
                        color: white;
                        font-size: 10px;
                    }
                }
                margin-right: 25px;
                i {
                    font-size: 20px;
                }
            }
            .shop-basket {
                span {
                    letter-spacing: 2px;
                    font-size: 13px;
                    &:nth-child(1) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .menu-icon {
        display: none;
        justify-content: flex-end;
        cursor: pointer;
    }
    .active {
        transform: translateX(0%) !important;
    }
    .menu {
        z-index: 1;
        transition: 0.3s;
        border-radius: 4px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgb(243, 243, 243);

        padding: 15px 30px;
        transform: translateX(100%);
        // display: none;
        .myClose {
            font-size: 20px;
            text-align: start;
            i {
                cursor: pointer;
            }
        }
        .menu-nav-links {
            overflow-y: scroll;
            ul {
                list-style: none;

                li {
                    margin-left: 20px;

                    // text-align: center;
                    line-height: 50px;
                    .sublinks {
                        display: none;
                        .subSublinks {
                            display: none;
                        }
                        ul {
                            li {
                                line-height: 30px;
                                margin-left: 0px;
                                a {
                                    color: black;
                                    letter-spacing: 1px;
                                    i {
                                        font-size: 10px;
                                        margin-left: 4px;
                                    }
                                    text-decoration: none;
                                    span {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                    a {
                        color: black;
                        letter-spacing: 2px;
                        i {
                            transition: 0.2s;
                            font-size: 10px;
                            margin-left: 4px;
                        }
                        text-decoration: none;
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

main {
    #introduce {
        position: relative;
        .flowersInfo {
            opacity: 0;
            transition: 5.5s;
            // display: none;

            width: 380px;
            .title {
                .st {
                    display: flex;
                }

                justify-content: space-around;
                span {
                    font-family: "Playfair Display", serif;
                    font-size: 50px;
                    margin-left: 10px;
                    font-weight: lighter;
                    line-height: 1;

                    &:nth-child(2) {
                        color: red;
                    }
                }
            }
            .desc {
                margin-top: 25px;
                p {
                    opacity: 60%;
                    padding-left: 10px;
                    font-family: "Lora", serif;
                }
            }
            .sign {
                padding-left: 10px;
                margin-top: 25px;
            }
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(5%, -50%);
        }
        .images {
            overflow: hidden;
            .clickright {
                &:hover {
                    color: black;
                    font-size: 55px;
                }

                position: absolute;
                transform: translate(1%, -50%);
                font-size: 45px;
                top: 50%;
                right: 1%;
                color: rgb(194, 194, 194);
                transition: 0.3s;
                transition-timing-function: ease-out;
                cursor: pointer;
            }
            .clickleft {
                cursor: pointer;
                &:hover {
                    color: black;
                    font-size: 55px;
                }
                position: absolute;
                transform: translate(1%, -50%);
                font-size: 45px;
                top: 50%;
                left: 1%;
                color: rgb(194, 194, 194);
                transition: 0.3s;
                transition-timing-function: ease-out;
            }
            img {
                opacity: 0;
                position: relative;
                z-index: -2;
                transition: opacity 1s;
                transition-timing-function: ease-in;
                width: 100%;
                height: 477px;
            }
        }
    }

    #products {
        padding-bottom: 8%;
        margin-top: 5%;
        .filters-filterbtn {
            .mdfilters {
                .mdcategories {
                    display: none;
                    span {
                        cursor: pointer;
                        font-size: 12px;
                        letter-spacing: 2px;
                        transition: 0.2s;
                    }
                }
            }
            .filters {
                span {
                    &:hover {
                        color: red;
                    }
                    cursor: pointer;
                    font-size: 12px;
                    letter-spacing: 2px;
                    transition: 0.2s;
                }
            }
            .filterbtn {
                &:hover {
                    .filterLists {
                        display: flex;
                    }
                }
                .filterLists {
                    display: none;
                    padding-top: 25px;

                    position: absolute;
                    width: 400px;
                    height: 250px;
                    background-color: white;
                    top: 100%;
                    z-index: 1;
                    .sortby {
                        height: max-content;
                        h4 {
                            padding-left: 2rem;
                            font-size: 25px;
                            font-family: "Fuzzy Bubbles", cursive;
                        }
                        ul {
                            list-style: none;
                            li {
                                a {
                                    letter-spacing: 1px;
                                    font-size: 14px;
                                    color: black;
                                    text-decoration: none;
                                }

                                margin-top: 5px;
                            }
                        }
                    }
                    .pricerange {
                        height: max-content;
                        h4 {
                            padding-left: 2rem;
                            font-size: 25px;
                            font-family: "Fuzzy Bubbles", cursive;
                        }
                        ul {
                            list-style: none;
                            li {
                                margin-top: 5px;
                                a {
                                    color: black;
                                    letter-spacing: 1px;
                                    font-size: 14px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .mdfilterLists {
                    text-align: start;
                    display: none;
                    .sortby {
                        height: max-content;
                        h4 {
                            font-size: 25px;
                            font-family: "Fuzzy Bubbles", cursive;
                        }
                        ul {
                            padding-left: 0%;
                            list-style: none;
                            li {
                                a {
                                    letter-spacing: 1px;
                                    font-size: 14px;
                                    color: black;
                                    text-decoration: none;
                                }

                                margin-top: 5px;
                            }
                        }
                    }
                    .pricerange {
                        height: max-content;
                        h4 {
                            font-size: 25px;
                            font-family: "Fuzzy Bubbles", cursive;
                        }
                        ul {
                            padding-left: 0%;
                            list-style: none;
                            li {
                                margin-top: 5px;
                                padding-left: 0%;
                                a {
                                    color: black;
                                    letter-spacing: 1px;
                                    font-size: 14px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                position: relative;
                &:hover {
                    color: red;
                }
                span {
                    transition: 0.2s;
                    cursor: pointer;
                    font-size: 12px;
                    letter-spacing: 2px;
                    &:nth-child(1) {
                        margin-right: 5%;
                    }
                }
            }
        }
        .product {
            position: relative;
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .productImage {
                overflow: hidden;
                cursor: pointer;
                img {
                    &:hover {
                        transform: scale(1.05);
                    }
                    width: 100%;
                    transition: 0.6s;
                    transition-timing-function: ease-out;
                }
            }
            .productTitle {
                cursor: pointer;
                margin-top: 5%;
                p {
                    font-size: 12px;
                    letter-spacing: 2px;
                    margin-bottom: 0;
                }
            }
            .productPrice {
                cursor: pointer;
                span {
                    font-size: 12px;
                    letter-spacing: 1px;
                    opacity: 50%;

                    // transform: translateX(-100px);
                    &:nth-child(1) {
                        line-height: 1.7;
                        font-size: 15px;
                        position: absolute;
                        transform: translateX(-120px);
                        width: max-content;
                        opacity: 0;
                        transition: 0.6s;
                        transition-timing-function: ease-in-out;
                    }
                }
            }

            &:hover {
                span {
                    opacity: 0%;
                    &:nth-child(1) {
                        opacity: 60%;
                        line-height: 1.7;
                        font-size: 15px;
                        position: absolute;
                        transform: translateX(-35px);
                        width: max-content;
                    }
                }
            }

            &:nth-child(6) {
                &:hover {
                    span {
                        opacity: 0%;
                        &:nth-child(1) {
                            opacity: 60%;
                            line-height: 1.7;
                            font-size: 15px;
                            position: absolute;
                            transform: translateX(-15px);
                            width: max-content;
                        }
                    }
                }
            }

            span {
                &:nth-child(1) {
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    #valentine {
        background-color: #f7f7f7;
        padding: 8% 0;
        .valentineVideo {
            overflow: hidden;
            position: relative;
            .videoImage {
                img:hover {
                    transform: scale(1.05);
                }
                img {
                    transition: 0.4s;
                    transition-timing-function: ease-out;
                    cursor: pointer;
                }
                i {
                    cursor: pointer;
                    position: absolute;

                    color: red;
                    top: 50%;
                    left: 50%;
                    font-size: 20px;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    padding: 40px;
                    border-radius: 50%;
                }
            }
        }
        .valentineTexts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 5%;

            .title {
                font-family: Georgia, "Times New Roman", Times, serif;
                font-weight: lighter;
                padding-bottom: 20px;
            }
            .desc {
                padding-bottom: 20px;
                width: 550px;
                p {
                    opacity: 50%;
                    font-size: 16px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    letter-spacing: 1px;
                }
            }
            .icondescs {
                .sec,
                .third {
                    margin-top: 10px;
                }

                .first,
                .sec,
                .third {
                    span {
                        margin-left: 5px;
                        font-size: 16px;
                        opacity: 50%;
                        font-family: "Fuzzy Bubbles", cursive;
                    }
                }
            }
        }
    }

    #flowerexperts {
        padding: 10% 0;
        .info {
            text-align: center;
            .title {
                h1{
                    font-family: "Lora", serif;
                }
            }
            .desc {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                opacity: 60%;
                p {
                    margin-bottom: 0%;
                    width: 740px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    letter-spacing: 1px;
                    font-size: 16px;
                }
            }
        }
        .experts {
            display: flex;
            justify-content: space-around;
            margin-top: 5%;
            .expert {
                width: max-content;

                text-align: center;
                .name {
                    p {

                        margin-top: 15px;
                        margin-bottom: 0%;
                        font-family: "Lora", serif;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }
                .job {
                    p {
                        margin-top: 3px;
                        opacity: 30%;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 12px
                        ;
                        margin-bottom: 0%;
                    }
                }
            }
        }
    }


    #subscribe{
        
        .parallax-window {
            min-height: 500px;
            background: transparent;
            display: flex;
            align-items: center;

            .title{
                margin-bottom: 15px;
                text-align: center;
                h1{
                    color: white;
                    font-family: "Lora", serif;
                }
            }
            .subs{
                position: relative;
                text-align: center;
                button{
                    right: 25%;
                    width: 13%;
                    border: none;
                    position: absolute;
                    font-family:"Lora", serif ;
                    padding: 1% 0;
                    color: white;
                    &:hover{
                        background-color: red;
                    }
                    transition: 0.3s;
                    transition-timing-function: ease-in-out;
                    background-color: #f34f3f;
                }
                input{
                    width: 50%;
                    border: none;
                    padding: 1% 0;
                }
            }
        }
    }

    #blogs{
        padding: 10% 0;
        .info {
            text-align: center;
            .title {
                h1{
                    font-family: "Lora", serif;
                }
            }
            .desc {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                opacity: 60%;
                p {
                    margin-bottom: 0%;
                    width: 740px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    letter-spacing: 1px;
                    font-size: 16px;
                }
            }
            
        }

        .blog{
            margin-top: 40px;
            text-align: center;
            .image{
                overflow: hidden;
                cursor: pointer;
                position: relative;
                span{
                    transition: 0.2s;
                    position: absolute;
                    top: 3%;
                    left: 3%;
                    &:hover{
                        color: red !important;
                    }
                }
                img{
                    transition: 0.6s;
                    transition-timing-function:ease-in-out ;
                    &:hover{
                        transform: scale(1.05);
                    }
                    width: 100%;
                }
            }
            .title{
                margin-top: 25px;
                h4{
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }

            .desc{ opacity: 60%;
                
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: 0%;
                }
            }
        }
    }
}

@media screen and(max-width:767px) {

    main{
        #subscribe{
            .parallax-window{
                .subs{
                    button{
                        width: max-content;
                    }
                }
            }
        }
    }

    main{
        #flowerexperts{
            .experts{
                display: flex;
    flex-direction: column;
    align-items: center;
            }
        }
    }

    main {
        #valentine {
            .valentineTexts {
                .desc {
                    width: 300px;
                }
            }
        }
    }

    main {
        #products {
            .filters-filterbtn {
                .filterbtn {
                    .filterLists {
                        display: none !important;
                    }
                }
            }
        }
    }

    main {
        #products {
            .filters-filterbtn {
                .filterbtn {
                    text-align: end !important;
                    display: block !important;
                }
            }
        }
    }

    .filters {
        display: none !important;
    }

    .menu {
        width: 100%;
    }

    main {
        #introduce {
            .flowersInfo {
                .desc {
                    display: none;
                }
            }
        }
    }

    main {
        #introduce {
            .flowersInfo {
                width: 380px;
                position: absolute;
                top: 25%;
                transform: scale(0.6);
                left: -10%;
            }
        }
    }

    main {
        #introduce {
            .flowersInfo {
                width: 380px;
                position: absolute;
                top: 25%;
                transform: scale(0.6);
                left: -10%;
            }
        }
    }

    main {
        #introduce {
            .images {
                img {
                    height: 420px;
                }
            }
        }
    }

    .container {
        width: 85% !important;
    }

    header {
        nav {
            .nav-right {
                display: none !important;
            }
        }
    }

    header {
        nav {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    header {
        nav {
            .menu-icon {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    main{
        #flowerexperts{
            .experts{
                
                flex-wrap: wrap;
    
            }
        }
    }

    main{
        #flowerexperts{
            .experts{
                .expert{
                    width: 50%;
                }
               
    
            }
        }
    }


    main {
        #products {
            .filters-filterbtn {
                .filterbtn {
                    .filterLists {
                        display: none !important;
                    }
                }
            }
        }
    }

    main {
        #products {
            .filters-filterbtn {
                .filterbtn {
                    text-align: end !important;
                    display: block !important;
                }
            }
        }
    }

    .filters {
        display: none !important;
    }

    .menu {
        width: 50%;
    }

    header {
        nav {
            .nav-right {
                display: none;
            }
        }
    }

    header {
        nav {
            .menu-icon {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (min-width: 992px) {
    main {
        #products {
            .filters-filterbtn {
                .filterbtn {
                    .mdfilterLists {
                        display: none !important;
                        // height: max-content;
                        // width: max-content;
                    }
                }
            }
        }
    }

    main {
        #products {
            .filters-filterbtn {
                .mdfilters {
                    display: none !important;
                }
            }
        }
    }
}
